// Variables
$primaryColor: #02c9c9;
$primaryFont: 'Nunito', sans-serif;
$secondaryColor: #fff;
$maroon: maroon;
$orange: #ffc300;
$navbarHeight: 40px;
$black: #000;






// General 
* {
	box-sizing: border-box;
}

header {
  background-color: $primaryColor;
  width: 100%;
  height: $navbarHeight;
  position: fixed; 
  top: 0;
  left: 0;
  z-index: 100;
  ul {
    height: 100%;
    margin-right: 10%;
    float: right;
    list-style-type: none;
    /* align vertically */
    display: flex;
    align-items: center;
  }

  li {
    text-decoration: none;
    display: inline-block;
    color: white;
    margin: 1em;
    
  }

  a {
    color: white;
    font-weight: bold;
    font-family: $primaryFont;
    &:hover {
      color: $orange;
      text-decoration: none;
    }
    &.active{
      border-bottom: 3px solid $secondaryColor;
    }
  }
}

/* Hide the link that should open and close the topnav on small screens */
  #menu-icon {
    visibility: hidden;
    transform: scale(2.0);
    display: inline-block;
    position: absolute;
    top: 5px;
    right: 10px;
  }

  #nav.navbar {
    height: $navbarHeight;
  }


/* Navigation
	#menu{
		width: 100%;
		height: 40px;
		display: block;
		background-color: $primaryColor;


		#menuBrand {
			
			float: left;
			position: relative;
			margin: 0.5em;
			a{
				color: $orange;
				&:hover {
					text-decoration: none;
				}
			}
			
		}

	

		#nav{
			float: right;
			

			.nav-item {
				text-decoration: none;
				display: inline-block;
				margin-right: 1rem;
			}
			
			.nav-link{
				color: $secondaryColor;

				&.active {
					border-bottom: 2px solid $secondaryColor;
				}
				&:hover {
					color: white;
					border-bottom: 2px solid #fff;

				}

			}
			
		}
		
	}
*/
body {
  position: relative;
}
#mainContainer {
	display: block;
}

// Welcome
.row {
	width: 100%;
	margin: 0;
}

.container {
	height: 100%;
	padding: 2em 0;
}

#welcomeContainer {
	display: block;
	background-color: $primaryColor;
	height: 500px;

	#welcome_content_container{
		height: 85%;
		display: flex;
    align-items: center;
	}

  #welcome_content {
    h1 {
      font: {
        size: 8em;
        family: $primaryFont; 
      }
      text-align: center;
      color: $secondaryColor;
      border: 4px solid white;  
    }
  }
}


// About Me 

#About {
	height: 400px;


	#aboutme_content {
			p {
				margin-top: 2em;
			}
	}

	#aboutme_image_container {
		img#aboutme_image {
			height: 10em;
			width: 10em;
			border-radius: 50%;
      margin: 0 auto;
		}
	}
}

// Skills
#Skills {
	background-color: $orange;
}

// Footer
#footer {
	height: 40px;
}


/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {

  body header {
    position: absolute;
  }
  /*.topnav a:not(:first-child) {display: none;}*/

  body header #menu-icon {
      visibility: visible;
    }

  body nav ul {
    display: none;
  }
  


  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  body header #nav.responsive {
    height: 200px;
    width: 100%;
    background-color: $secondaryColor;
    border-bottom: 3px solid $orange;
    ul {
      margin-right: 0;
      margin-top: $navbarHeight;
      display: block;
      width: 100%;
    }
    li {
      height: auto;
      text-align: center;
      width: 100%;
      padding: 10px 0;
      margin: 0;
      display: block;
      &:hover{
        color: $orange;
        border-left: 2px solid $orange;
        background-color: $orange;
        opacity: 0.1;
      }
    }
    a {
      float: none;
      text-align: left;
      color: $primaryColor;
      

      &.active {
        background-color: $orange;
        opacity: 0.5;
      }

    }
  }

  /* Welcome Container */
  #welcomeContainer #welcome_content h1 {
    font-size: 5em;
  }
}
