// Variables
$primaryColor: #02c9c9;
$primaryFont: 'Nunito', sans-serif;
$secondaryColor: #fff;
$maroon: maroon;
$orange: #ffc300;






// General 
* {
	box-sizing: border-box;
}



// Navigation
	#menu{
		width: 100%;
		height: 40px;
		display: block;
		background-color: $primaryColor;


		#menuBrand {
			
			float: left;
			position: relative;
			margin: 0.5em;
			a{
				color: $orange;
				&:hover {
					text-decoration: none;
				}
			}
			
		}

		#nav{
			float: right;
			overflow: hidden;

			/* Dropdown container - needed to position the dropdown content */
			.dropdown {
				float: left;
				overflow: hidden;
			}
			
			.nav-item {
				text-decoration: none;
				display: inline-block;
				margin-right: 1rem;
			}
			
			.nav-link{
				color: $secondaryColor;

				&.active {
					border-bottom: 2px solid $secondaryColor;
				}
				&:hover {
					color: white;
					border-bottom: 2px solid #fff;

				}

			}
			
		}
		
	}

/* When the screen is less than 600 pixels wide, hide all links, except for the Menu Icon. 
   Show the link that contains the open and close Menu (.icon) */
@media screen and (max-width: 600px) {
  #nav .nav-Item a:not(.icon) {display: none;}
  #nav #navMenuIcon a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the #nav with JavaScript when the user clicks on the icon. 
This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
	#nav .nav.responsive {
		position: relative;
	}

  .nav.responsive ul #navMenuIcon a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .nav.responsive ul .nav-Item a.nav-link{
    display: block;
    width: 100%;
    text-align: left;

  }
}



// Welcome
.row {
	width: 100%;
	margin: 0;
}

.container {
	height: 100%;
	padding: 2em 0;
}

#welcomeContainer {
	display: block;
	background-color: $primaryColor;
	height: 500px;

	#welcome_content_container{
		height: 85%;

		display: flex;
    align-items: center;

		#welcome_content {

			h1 {
				font: {
					size: 8em;
					family: $primaryFont;	
				}
				text-align: center;
				color: $secondaryColor;
				border: 4px solid white;	
			}

		}
	}
	


	


}


// About Me 

#About {
	height: 400px;


	#aboutme_content {
			p {
				margin-top: 2em;
			}
	}

	#aboutme_image_container {
		img#aboutme_image {
			height: 10em;
			width: 10em;
			border-radius: 50%;
		}
	}
}

// Skills
#Skills {
	background-color: $orange;
}

// Footer
#footer {
	height: 40px;
}
